{% extends 'layout.html' %}

{% block title %} {% endblock %}

{% block body %}

<div class="text-center col-md-8"><h1>Register page </h1> </div>
<br>
  <div class="container col-md-8"> 
    <div class="card col-md-6">
    <form method="POST" action="/Category">
      <div class="form-group">
        <label for="exampleDropdownFormEmail1">Id </label>
        <input type="Integer" class="form-control" name="id" required>
      </div>
      <div class="form-group">
        <label for="exampleDropdownFormEmail1">Category </label>
        <input type="text" class="form-control" name="category" required>
      </div>
      <button type="submit" class="btn btn-info mt-2">Add</button><br>
      </form>
    </div>
  </div>

  {% endblock %}







