{% extends 'layout.html' %}

{% block title %} {% endblock %}

{% block body %} 

hi
    
    
    <div class="container">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <h1 class="text-center bg-info p-2">Edit Product</h1>
          
            <form class="form" method="post" enctype="multipart/form-data" action="/{{Prod_id}}/Edit">
                          
            </form>
            <div class="container">
                <div class="row">
                  <div class="col-md-4"> </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-4"></div>
                </div>
      
            </div>
         
              <div class="col-md-5">
                <div class="card">
                  <div class="card-type">
                    <form class="form1" enctype="multipart/form-data" method="post"  >
                      <span label for="text">Category</span>
                      
                      <select> 
                        {% for Category in Category %}
                        <option value="">Choose </option>
                      <option value="{{Category.id}}" > {{Category.Category}} </option>
                      {% endfor %}
                      </select>
      
                    
                      <br>
                      <label>Product ID</label>
                      <input type="text" class="form-control" value="{{prod.Prod_id}}" name="Name" required><br>
                      <label>Name</label>
                      <input type="text" class="form-control" value="{{prod.Prod_name}}" name="ProdName" required><br>
                      <label>Cost per kg</label>
                      <input type="Integer" class="form-control" value="{{prod.Prod_Cost}}" name="Prod_Cost" required><br>
                    
                      <label>Product Image</label>
                      <img src="/static/product{{ prod.Prod_id }}.JPG"><br>
                      <label >Add new Image</label>
                      <input type="file"class="form-control" name="file" id ="file" accept=" image/png, image/jpeg " >
                      <button type="submit" class="btn btn-info mt-2">Add</button><br>
                    </form>
                   
                  </div>
                </div>
              </div>
              <div class="col-md-2"></div>
            </div> 
            <br><br><br>
        <div class ="container col-md-8">
          <div class="col-md-12">
            <h1 class="text-center bg-info p-2">Products</h1>
          </div> 
      


	
            




{% endblock %}